<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <title>Estadistica</title>
      <!-- Bootstrap core CSS -->
      <link href="/static/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="/static/css/justified-nav.css" rel="stylesheet">
      <link href="/static/css/main-baston.css" rel="stylesheet" type="text/css">
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
     <!-- Custom styles for datepicker -->
     <link href="/static/jquery-ui/jquery-ui.css" rel="stylesheet">
      <style>
      .ui-datepicker-calendar {
    display: none;
    }

.form-control-r {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow cubic-bezier(0.4, 0, 1, 1) .15s;
}
</style>

   </head>
   <body>
      <div class="container">
         <!-- The justified navigation menu is meant for single line per list item.
            Multiple lines will require custom code not provided by Bootstrap. -->
         <div class="masthead">
             <div align="left"><IMG src="/static/images/logo/logo_baston_top.png"></div>
            <nav>
               <ul class="nav nav-justified">
                  <li ><a href="configuracion">Configuración</a></li>
                  <li><a href="recorrido">Recorrido</a></li>
                  <li class="active"><a href="estadistica">Estadísticas</a></li>
                  <li><a href="zonaseguridad">Zona de Seguridad</a></li>
               </ul>
            </nav>
         </div>

         <div class="jumbotron">

<div class="row" >
                        <div class="col-lg-2">
                           &nbsp;&nbsp;&nbsp;
                        </div>
                        <div class="col-lg-10">
                           <div class="checkbox" >
  <label onclick="cambiarChart()">
    <input type="checkbox" data-toggle="toggle"  data-on="Pasos" data-off="Pulsos">
  </label>
</div>
                        </div>
                     </div>

            </div>

         <div >
                     <div class="row" >
                        <div class="col-lg-2">
              <div class="form-horizontal" >

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="address">Fecha: </label>
                        <div class="col-md-9">

                            <input name="startDate" id="mesDia-ID" class="date-picker form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-4">
                          <button class="btn btn-primary" onclick="obtenerEstadistica()"type="button">Obtener</button>
                        </div>
                    </div>

               </div>

                        </div>
                        <div id="pulsosID" class="col-lg-10">
                           <div id="pulsoschartID" class="chart"></div>
                        </div>
                        <div id="pasosID" class="col-lg-10">
                           <div id="pasoschartID" class="chart"></div>
                        </div>
                     </div>
         </div>

         </div>
         <!--end page-wrapper-->
         <footer class="footer">
            <div class="col-sm-offset-5"><h5 class="text-muted"> © Copyright 2017   |   BastON  |   All Rights Reserved  </h5></div>
         </footer>
      </div>
      <!--container-->
      <script src="/static/js/controller/estadistica.js"></script>
      <script src="/static/js/jquery-3.2.1.min.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
      <script src="/static/js/jquery-ui.js"></script>
	  <script src="/static/js/datepicker-es.js"></script>
      <script src="/static/js/main.js"></script>
      <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
      	<script type="text/javascript">
	$(document).ready(function(){
			    $('#mesDia-ID').datepicker( {
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        dateFormat: 'MM yy',
        onClose: function(dateText, inst) {
            $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
        }
    });
    $('#mesDia-ID').datepicker("setDate", new Date() );
google.charts.setOnLoadCallback(function() {
    mostrarFrecuencias();
});



});





    </script>

      </div>
   </body>
</html>