label.error {
        font-family: "Lato", sans-serif! important;
        color: #696464;
        font-size: 10px! important;
        margin-left: 40px;
        margin-top: 10px;
      }
input::-ms-clear {
    display: none;
}

.navbar-static-side {
  transition: .3s all linear;
}
.navbar-static-side ul li {
  border-bottom: 1px solid #484848;
}
.navbar-static-side ul li:first-child a {
  padding: 0;
}
.navbar-static-side ul li {
   background: #3C3C3C;
   outline: none;
   color:#d9d9d9;
}
.navbar-static-side ul li.active a {
  background: #cdb885;
  transition: .2s all ease-in-out;
  outline: none;
  color:#FFF;
}
.navbar-static-side ul li a {
  color: #d9d9d9;
  padding: 15px;
}
.navbar-static-side ul li a span.menu-title {
  margin-left: 10px;
}
.navbar-static-side ul li a i {
  font-size: 16px;
}
.navbar-static-side ul li a i .icon-bg {
  display: none;
}
.navbar-static-side ul li a:hover,
.navbar-static-side ul li a:focus {
background: #cdb885;
  transition: .2s all ease-in-out;
  outline: none;
  color:#FFF;
}
.navbar-static-side ul li a .badge,
.navbar-static-side ul li a .label {
  float: right;
  margin-right: 10px;
}
.navbar-static-side ul li a.menu-title {
  margin-left: 10px;
}
.navbar-static-side ul li .nav-second-level li {
  border-bottom: 1px solid #484848;
}
.navbar-static-side ul li .nav-second-level li.active a,
.navbar-static-side ul li .nav-second-level li:hover a,
.navbar-static-side ul li .nav-second-level li:focus a {
  color: #9c9073;
}
.navbar-static-side ul li .nav-second-level li a {
  padding: 15px 15px 15px 40px;
  background: #37455f;
  color: #efefef;
}
.navbar-static-side ul li .nav-second-level li a span.submenu-title {
  margin-left: 10px;
}
.navbar-static-side ul li .nav-second-level li .nav-third-level li {
  border-bottom: 1px solid #484848;
}
.navbar-static-side ul li .nav-second-level li .nav-third-level li.active a,
.navbar-static-side ul li .nav-second-level li .nav-third-level li:hover a,
.navbar-static-side ul li .nav-second-level li .nav-third-level li:focus a {
  color: #dc6767;
}
.navbar-static-side ul li .nav-second-level li .nav-third-level li a {
  padding: 15px 15px 15px 40px;
  background: #313e55;
  color: #efefef;
}
.navbar-static-side ul li .nav-second-level li .nav-third-level li a span.submenu-title {
  margin-left: 10px;
}
.navbar-static-side ul li.sidebar-heading {
  padding: 5px 15px;
}
.navbar-static-side ul li.sidebar-heading h4 {
  font-family: 'Oswald';
  font-size: 18px;
  font-weight: bold;
  color: #dc6767;
}
.navbar-static-side ul li.user-panel {
  padding: 15px;
}
.navbar-static-side ul li.user-panel .thumb {
  float: left;
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.navbar-static-side ul li.user-panel .thumb img {
  width: 45px;
  height: 45px;
}
.navbar-static-side ul li.user-panel .info {
  float: left;
  padding: 5px 5px 5px 15px;
  color: #ffffff;
}
.navbar-static-side ul li.user-panel .info p {
  margin-bottom: 3px;
  font-size: 16px;
}
.navbar-static-side ul li.user-panel .info a {
  font-size: 10px;
}
.navbar-static-side ul li.user-panel .info a i {
  font-size: 14px;
  color: #999;
}
.navbar-static-side ul li.user-panel .info a:hover,
.navbar-static-side ul li.user-panel .info a:focus {
  background-color: transparent;
}
.navbar-static-side ul li.user-panel .info a:hover i,
.navbar-static-side ul li.user-panel .info a:focus i {
  color: #777;
}
.navbar-static-side ul li.user-panel ul li {
  border-bottom: 0;
}
.sidebar-user-info {
  padding: 15px;
}
.sidebar-user-info img {
    box-sizing: border-box;
  border: 5px solid #d95b5b;
  width: 75px;
  height: 75px;
  display: inline-block;
}
.sidebar-user-info h4 {
  color: #FFFFFF;
  margin-bottom: 5px;
}
.sidebar-user-info ul {
  margin-bottom: 3px;
}
.sidebar-user-info ul li {
  border-bottom: 0 !important;
}
.sidebar-user-info ul li a {
  color: #cdcdcd;
}
.sidebar-user-info .user-status {
  width: 10px;
  height: 10px;
  border-radius: 50% !important;
  display: inline-block;
  background: transparent;
  margin-right: 5px;
}
.sidebar-user-info .user-status.is-online {
  background: #06B53C;
}
.sidebar-user-info .user-status.is-idle {
  background: #F7D227;
}
.sidebar-user-info .user-status.is-busy {
  background: #ee4749;
}
.sidebar-user-info .user-status.is-offline {
  background: #666666;
}
.sidebar-user-info span {
  color: #FFFFFF;
}
.sidebar-user-activity {
  padding: 15px;
  border-bottom: 0 !important;
}
.sidebar-user-activity h4 {
  color: #FFFFFF;
}
.sidebar-user-activity .note {
  padding: 3px 15px;
  margin-bottom: 5px;
}
.sidebar-user-activity .note small {
  color: #cdcdcd;
}
.sidebar-user-activity .note a:hover,
.sidebar-user-activity .note a:focus {
  background: transparent;
}
.arrow {
  float: right;
  margin-top: 3px;
}
.fa.arrow:before {
  content: "\f104";
}
.active > a > .fa.arrow:before {
  content: "\f107";
}
@media (min-width: 768px) {
  .navbar-static-side {
    z-index: 1;
    position: absolute;
    width: 250px;
  }
}
.right-sidebar #topbar .navbar-header {
  float: right;
  border-right: 0;
}
.right-sidebar #sidebar {
  left: auto;
  right: 0;
}
.right-sidebar #page-wrapper {
  margin: 0 250px 0 0;
}
.left-side-collapsed .navbar-static-side {
  width: 0;
}
.left-side-collapsed .navbar-static-side ul#side-menu li.user-panel {
  display: none;
}
.left-side-collapsed .navbar-static-side ul#side-menu li.nav-hover a {
  height: 0;
}
.left-side-collapsed .navbar-static-side ul#side-menu li.nav-hover a span.menu-title {
  display: block !important;
}
.left-side-collapsed .navbar-static-side ul#side-menu li.nav-hover a span.submenu-title {
  display: block !important;
  margin-left: 0;
}
.left-side-collapsed .navbar-static-side ul#side-menu li.nav-hover ul.nav-second-level {
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  width: 195px;
}
.left-side-collapsed .navbar-static-side ul#side-menu li.nav-hover ul.nav-second-level li a {
  padding: 15px;
}
.left-side-collapsed .navbar-static-side ul#side-menu li a span {
  display: none;
}
.left-side-collapsed .navbar-static-side ul#side-menu li a i.fa {
  font-size: 18px;
}
.left-side-collapsed .navbar-static-side ul#side-menu li a span.menu-title {
    box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 55px;
  padding: 15px;
  margin-left: 0;
  width: 195px;
  height: 50px;
  background: #303030;
  outline: none;
}
.left-side-collapsed .navbar-static-side ul#side-menu li ul.nav-second-level {
  display: none;
  position: absolute;
  top: 50px;
  left: 55px;
  width: 195px;
}
.left-side-collapsed .navbar-static-side ul#side-menu li ul.nav-second-level li a i {
  display: none;
}
.left-side-collapsed #page-wrapper {
  margin: 0 0 0 0;
}
.right-side-collapsed .navbar-static-side {
  width: 0;
}
.right-side-collapsed .navbar-static-side ul#side-menu li.user-panel {
  display: none;
}
.right-side-collapsed .navbar-static-side ul#side-menu li.nav-hover a {
  height: 50px;
}
.right-side-collapsed .navbar-static-side ul#side-menu li.nav-hover a span.menu-title {
  display: block !important;
}
.right-side-collapsed .navbar-static-side ul#side-menu li.nav-hover a span.submenu-title {
  display: block !important;
  margin-right: 0;
}
.right-side-collapsed .navbar-static-side ul#side-menu li.nav-hover ul.nav-second-level {
  display: block;
  position: absolute;
  top: 50px;
  right: 55px;
  width: 195px;
}
.right-side-collapsed .navbar-static-side ul#side-menu li.nav-hover ul.nav-second-level li a {
  padding: 15px 5px;
}
.right-side-collapsed .navbar-static-side ul#side-menu li a span {
  display: none;
}
.right-side-collapsed .navbar-static-side ul#side-menu li a i.fa {
  font-size: 18px;
}
.right-side-collapsed .navbar-static-side ul#side-menu li a span.menu-title {
    box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 55px;
  padding: 15px;
  margin-right: 0;
  background: #dc6767;
  color: #ffffff;
  width: 195px;
  height: 50px;
}
.right-side-collapsed .navbar-static-side ul#side-menu li ul.nav-second-level {
  display: none;
  position: absolute;
  top: 50px;
  right: 55px;
  width: 195px;
}
.right-side-collapsed .navbar-static-side ul#side-menu li ul.nav-second-level li a i {
  display: none;
}
.right-side-collapsed #page-wrapper {
  margin: 0 55px 0 0;
}
.page-content {
  padding: 20px 20px 50px 20px;
  min-height: 700px;
}
#footer {
    box-sizing: border-box;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 15px 20px;
  background: #FFFFFF;
}
#theme-setting {
    box-sizing: border-box;
  position: fixed;
  right: -250px;
  top: 120px;
  padding: 10px 13px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-right: 0;
  width: 250px;
  z-index: 9999;
  -webkit-transition: .4s all ease-in-out;
  -moz-transition: .4s all ease-in-out;
  -o-transition: .4s all ease-in-out;
  transition: .4s all ease-in-out;
}
#theme-setting .btn-theme-setting {
  padding: 15px;
  background: #ffffff;
  position: absolute;
  z-index: 9999;
  left: -57px;
  border: 1px solid;
  border-color: #e5e5e5 transparent #e5e5e5 #e5e5e5;
  top: -1px;
}
#theme-setting .btn-theme-setting i {
  font-size: 30px;
  color: #94cc55;
  line-height: 25px;
}
#theme-setting .btn-theme-setting:hover,
#theme-setting .btn-theme-setting:focus {
  color: #999999;
  outline: none;
}
#theme-setting .content-theme-setting ul#list-color li {
    box-sizing: border-box;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border: 5px solid transparent;
  margin: 0 5px;
}
#theme-setting .content-theme-setting ul#list-color li.green-dark {
  background: #594857;
  border-color: #488c6c;
}
#theme-setting .content-theme-setting ul#list-color li.red-dark {
  background: #594857;
  border-color: #bf4346;
}
#theme-setting .content-theme-setting ul#list-color li.pink-dark {
  background: #594857;
  border-color: #bf3773;
}
#theme-setting .content-theme-setting ul#list-color li.blue-dark {
  background: #594857;
  border-color: #0a819c;
}
#theme-setting .content-theme-setting ul#list-color li.yellow-dark {
  background: #594857;
  border-color: #f2994b;
}
#theme-setting .content-theme-setting ul#list-color li.green-grey {
  background: #4b5d67;
  border-color: #488c6c;
}
#theme-setting .content-theme-setting ul#list-color li.red-grey {
  background: #4b5d67;
  border-color: #bf4346;
}
#theme-setting .content-theme-setting ul#list-color li.pink-grey {
  background: #4b5d67;
  border-color: #bf3773;
}
#theme-setting .content-theme-setting ul#list-color li.blue-grey {
  background: #4b5d67;
  border-color: #0a819c;
}
#theme-setting .content-theme-setting ul#list-color li.yellow-grey {
  background: #4b5d67;
  border-color: #f2994b;
}
#theme-setting .content-theme-setting ul#list-color li.yellow-green {
  background: #007451;
  border-color: #CCA32F;
}
#theme-setting .content-theme-setting ul#list-color li.orange-grey {
  background: #322F2B;
  border-color: #D94E37;
}
#theme-setting .content-theme-setting ul#list-color li.pink-blue {
  background: #40516F;
  border-color: #DC6767;
}
#theme-setting .content-theme-setting ul#list-color li.pink-violet {
  background: #554161;
  border-color: #E82A62;
}
#theme-setting .content-theme-setting ul#list-color li.orange-violet {
  background: #554161;
  border-color: #FF422B;
}
#theme-setting .content-theme-setting ul#list-color li.pink-green {
  background: #456445;
  border-color: #FF5E70;
}
#theme-setting .content-theme-setting ul#list-color li.pink-brown {
  background: #573F2F;
  border-color: #A21E46;
}
#theme-setting .content-theme-setting ul#list-color li.orange-blue {
  background: #33485C;
  border-color: #E74C3C;
}
#theme-setting .content-theme-setting ul#list-color li.yellow-blue {
  background: #417CB2;
  border-color: #FFC34C;
}
#theme-setting .content-theme-setting ul#list-color li.green-blue {
  background: #417CB2;
  border-color: #66B354;
}

table {
    width: 100%;
}
td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  border-bottom: solid 1px gainsboro!important;
}
.back-line {
    background-color: #faf9f8;
}

th a{
    color: black!important;
}


.active > a > .btn {
	color: #cdb885;
	border-color: #cdb885;
}
.process a {
	color: #b8b8b8 !important;
}
.active a, .process a:hover {
	color: #337ab7 !important;
}

.active a .notifications {
	background: #cdb885;
	border-color: #cdb885;
}

 .footer {
    padding: 0px;
    padding-top: 0px;
    padding-right: 2px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
}

th {
    text-align: center;
}

.w3-right {
    float: right!important;
}

.w3-left {
    float: left!important;
}